
@import 'medias';
@import 'states';

:root {

  /* identity colors */
  --primary-color: #d22365;
  --primary-light-color: #ff94bd;
  --primary-dark-color: #530020;
  --secondary-color:#6b46c1;
  --secondary-light-color: #ceb9ff;
  --secondary-dark-color: #311e6d;
  --tertiary-color:#2ee9b4;
  --tertiary-light-color: #a4ffe5;
  --tertiary-dark-color:#004d37;

  /* semantic colors */
  --success-color: #75c38f;
  --success-light-color:#e5f7ec;
  --success-dark-color:#315542;
  --warning-color: #ffc400;
  --warning-light-color: #fbf6b4;
  --warning-dark-color: #663d1d;
  --danger-color:#ff3838;
  --danger-light-color: #f7e7e6;
  --danger-dark-color: #950000;

  /* markup colors */
  --soft-color: #fff;
  --soft-light-color: transparent;
  --soft-dark-color: #e6e6e6;
  --neutral-color: #b3b3b3;
  --neutral-light-color: #e7e7e7;
  --neutral-dark-color: #999999;
  --heavy-color: #282c34;
  --heavy-light-color: #575f70;
  --heavy-dark-color:#0d0f11;

}

$colors: (
  "i1": "primary",
  "i2": "secondary",
  "i3": "tertiary",
  "s1": "success",
  "s2": "warning",
  "s3": "danger",
  "m1": "soft",
  "m2": "neutral",
  "m3": "heavy"
);

$props: (
  "bc": "border-color",
  "bg": "background-color",
  "c": "color"
);

$sides: (
  "t": "top",
  "b": "bottom",
  "l": "left",
  "r": "right"
);

$variations: (
  "": "",
  "a": "light-",
  "z": "dark-"
);

@each $m, $media in $medias {
  @media #{$media} {
    @each $s, $state in $states {
      @each $p, $prop in $props {
        @each $c, $color in $colors {
          @each $v, $variation in $variations {
            .#{$m}#{$p}#{$c}#{$v}#{$s}#{$state} {
              #{$prop}: var(--#{$color}-#{$variation}color);
              @if $p == "bc" {
                border-width: 1px;
                border-style: solid;
              }
            }
            @if $p == "bc" {
              @each $z, $side in $sides {
                .#{$m}#{$p}#{$c}#{$v}#{$z}#{$s}#{$state} {
                  border-#{$side}-color: var(--#{$color}-#{$variation}color);
                  border-#{$side}-width: 1px;
                  border-#{$side}-style: solid;
                }
              }
              .#{$m}#{$p}#{$c}#{$v}x#{$s}#{$state} {
                @extend .#{$m}#{$p}#{$c}r;
                @extend .#{$m}#{$p}#{$c}l;
              }
              .#{$m}#{$p}#{$c}#{$v}y#{$s}#{$state} {
                @extend .#{$m}#{$p}#{$c}t;
                @extend .#{$m}#{$p}#{$c}b;
              }
            }
          }
        }
      }
    }
  }
}