.x {
  width: 100%;
}

@media (min-width: 992px) {
  .x {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1200px) {
  .x {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }
}