@import 'medias';

:root {
  --primary-font-family: 'Arial';
  --secondary-font-family: 'Tahoma';
  --tertiary-font-family: 'Tahoma';
}

$families: (
  "1": "primary",
  "2": "secondary",
  "3": "tertiary",
);

@each $m, $media in $medias {
  @media #{$media} {
    @each $f, $family in $families {
      .#{$m}ff#{$f} {
        font-family: var(--#{$family}-font-family);
      }
    }
  }
}