@import 'medias';

@each $m, $media in $medias {
  @media #{$media} {
    .#{$m}xl {
      display: flex !important;
      flex-wrap: wrap;
      text-align: left;
      justify-content: flext-start;
    }
    .#{$m}xx {
      display: flex !important;
      flex-wrap: wrap;
      text-align: center;
      justify-content: center;
    }
    .#{$m}xr {
      display: flex !important;
      flex-wrap: wrap;
      text-align: right;
      justify-content: flex-end;
    }
    .#{$m}xl > :not(.x0), .#{$m}xx > :not(.x0), .#{$m}xr > :not(.x0) {
      display: flex !important;
    }
    .#{$m}x0 {
      display: inline-block !important;
      width: auto !important;
    }
    @for $i from 1 through 12 {
      .#{$m}x#{$i} {
        width: (100% / 12) * $i !important;
      }
    }
  }
}

