:root {
  --primary-family: 'Arial';
  --secondary-family: 'Tahoma';
  --font-size: 0.25rem;
  --lighest-color: #fff;
  --light-color: #f1f1f1;
  --primary-light-color: #8560fc;
  --primary-color: #6b46c1;
  --primary-dark-color: #4d3793;
  --secondary-light-color: #69f9cc;
  --secondary-color: #2ee9b4;
  --secondary-dark-color: #009B6F;
  --success-color: #28a745;
  --warning-color: #ffc107;
  --danger-color: #dc3545;
  --dark-color: rgb(0,0,0,0.6);
  --darkest-color: rgb(0,0,0,0.9);
}